.ciano,
.vermelho,
.azul,
.amarelo,


.ciano {
    background-color: aqua;
	 height: 140px;
}

.vermelho {
    background-color: red;
}

.azul {
    background-color: blue;
}

.amarelo {
    background-color: yellow;
}

